@import url("https://fonts.googleapis.com/css2?family=Whisper&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: black;
  overflow: hidden;

  @media (max-width: 1024px) {
    gap: 30px;
    justify-content: unset;
  }
}

.navbar-container {
  height: 10dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tiles-container {
  display: flex;
  align-items: center;
  width: 80vw;
  height: 60dvh;
  padding-left: 10vw;
  padding-right: 10vw;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .tiles-container {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;
    gap: 20px;
  }

  .tiles-container::before,
  .tiles-container::after {
    content: "";
    flex: 0 0 50vw;
  }

  .tiles-container::-webkit-scrollbar {
    display: none;
  }
}

.tile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.tile {
  width: 94px;
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
  scroll-snap-align: center;
  transition: width 0.6s ease, opacity 0.6s ease, background-color 0.3s ease;
  position: relative;

  @media (max-width: 1024px) {
    width: 60px;
  }
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.6s ease;
}

.tile.hovered {
  width: 200px;
  background-color: transparent;
  opacity: 1;
}

.tile.hovered::before {
  opacity: 0;
}

.tile.hovered img {
  opacity: 1;
}

.tiles-container:hover .tile {
  transition: width 0.6s ease, opacity 0.6s ease;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20dvh;
  text-align: center;

  @media (max-width: 1024px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.text-title {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #f5d247;
  margin-bottom: 10px;

  @media (max-width: 630px) {
    font-size: 1.5rem;
  }
}

.text-secondary {
  font-family: "Instrument sans", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.125rem;

  @media (max-width: 630px) {
    font-size: 0.88rem;
  }
}

.navbar-text {
  font-family: "Whisper", cursive;
  font-size: 2.3rem;
  color: white;

  @media (max-width: 630px) {
    font-size: 1.5rem;
  }
}

.image-link {
  margin-top: 1rem;
  color: white;
  font-size: 0.75rem;

  @media (max-width: 630px) {
    font-size: 0.63rem;
  }
}
